/*head {
    background: rgb(139, 172, 156);
    background: linear-gradient(90deg, rgba(139, 172, 156, 1) 25%, rgba(180, 194, 187, 1) 100%);
}*/

body {
    background: rgb(139, 172, 156);
    background: linear-gradient(90deg, rgba(139, 172, 156, 1) 25%, rgba(180, 194, 187, 1) 100%);
    font-family: monospace;
    font-size: large;
    color: black;
}

h1 {
    font-size: 550%;
    text-align: left;
    padding: 5% 5%;
    margin: 1% 0;
}


#contact-details-table {
    font-size: x-large;
    margin: 3% 5%;
}

#kickboxing_img {
    margin-left: 5%;
    margin-right: 5%;
}

p {
    background-color: rgb(75, 75, 229);
    margin: 1.5% 4.5%;
    padding: 0.5% 0.5%
}

#container1 {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto auto auto 1fr;
    min-height: 100vh;
}

@media (min-width:60em) {
    #container1 {
        grid-template-columns: 30em 1fr;
        grid-template-rows: auto auto auto 1fr;
    }
}

.container {
    font-family: monospace;
    margin: 2% 2%;
    font-size: large;
}